<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- ================= PERMISSIONS ================= -->

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Optional: Better GPS accuracy -->
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:ignore="ScopedStorage" />


    <!-- ================= APPLICATION ================= -->

    <application
        android:name=".utils.AppContext"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:usesCleartextTraffic"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessMateApp"
        tools:targetApi="33">


        <!-- ================= GOOGLE MAPS API KEY ================= -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6sGl66iiA42kM5Ws1wWhWBHjzric6NMo" />


        <!-- ================= SPLASH ================= -->

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!-- ================= LOGIN ================= -->

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />


        <!-- ================= OTP ================= -->

        <activity
            android:name=".ui.auth.OtpActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <!-- ================= PROFILE ================= -->

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />


        <!-- ================= HOME ================= -->

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:launchMode="singleTop" />


        <!-- ================= MENU ================= -->

        <activity
            android:name=".ui.menu.MenuActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.order.OrderHistoryActivity"
            android:exported="false" />

        <!-- ================= CHECKOUT ================= -->

        <activity
            android:name=".ui.cart.CheckoutActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.home.HomeActivity" />


        <!-- ================= ADDRESS LIST ================= -->

        <activity
            android:name=".ui.address.AddressListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.cart.CheckoutActivity" />


        <!-- ================= ADD ADDRESS ================= -->

        <activity
            android:name=".ui.address.AddAddressActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.address.AddressListActivity" />

        <!-- ================= ADDRESS ZOMATO ================= -->

        <activity
            android:name=".ui.address.AddressZomatoActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.profile.ProfileActivity" />

        <!-- ================= MAP PICKER ================= -->

        <activity
            android:name=".ui.address.MapPickerActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.address.AddAddressActivity" />


        <!-- ================= RAZORPAY CHECKOUT ================= -->

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false"
            tools:replace="android:exported,android:theme" />

        <!-- ================= FIREBASE NOTIFICATION SERVICE ================= -->

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>

    </application>

</manifest>
